* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@mixin centerElements {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

main {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  display: grid;
  grid-template-areas: 'header header header'
  'aside article article'
  'footer footer footer';

  @media(max-width: 768px) {
    grid-template-areas:
    'header'
    'aside'
    'article'
    'footer';
  }

  header {
    background: red;
    grid-area: header;
    @include centerElements;
  }

  aside {
    background: rgb(160, 220, 240);
    grid-area: aside;
    @include centerElements;
  }

  article {
    background: salmon;
    grid-area: article;
    @include centerElements;
  }

  footer {
    background: seagreen;
    grid-area: footer;
    @include centerElements;
  }
}