:root {
    /* Colors */
    --main-color: #ffffff;
    --secondary-color: #f2f9fe;
    --light-gray: #ccc;
    --dark-gray: #666;
    --main-green: #5dca88;
    --main-black: #000000;

    /* Sizes */
    --main-margin: 1rem;
    --main-padding: 6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--main-black);
}

* img {
    width: 100%;
    height: auto;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background: var(--main-color);
    font-size: 1rem;
}

main {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}


/* Header */
header {
    
}

/* Icon Section */
#icons-section {

}

/* Secondary Content */
#secondary-section {
    
}

/* Author Section */
#author-section {

}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
}


/* Mobile */
@media (min-width: 320px){

}

/* Tablet */
@media (min-width: 768px){

}

/* Desktop */
@media (min-width: 1200px){

}




