.divPosition {
    width: 500px;
    height: 200px;
    border: 1px solid red;
    position: relative;
}

.divPositionAbsolute {
    width: 20px;
    height: 20px;
    background:  #f7a4a3;
    position: absolute;
    rigth: 0;
}

.fixed {
    position: fixed;
    width: 20px;
    height: 20px;
    background: blue;
    left: 50px;
}

.floatDiv {
    width: 50px;
    height: 50px;
    background: orange;
    float: right;
}
