* {
    margin-bottom: 10px;
}

/* Position values = left, rigth, top, botoom  */

.cuadrado {
    width: 100%;
    background: yellowgreen;
    position: relative;
}

.rectangulo {
    width: 400px;
    height: 200px;
    background: rebeccapurple;
}

.circulo {
    width: 20px;
    height: 20px;
    background: orangered;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

.circulo2 {
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    position: absolute;
    right: 0;
}