li {
    list-style: none;
}

ul{
    margin: 0;
    height: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

#characters {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#characters > ul {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#characters > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 1rem 0 0;

}


