/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ededed;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color:#775e5e;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
}

.image {
    width: 130px;
    height: 130px;
}

.image img {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: 100%;
}

/* Header */
header {
    border-bottom: 1px solid rgb(63, 62, 62);
}

header h1 {
    border-bottom: 1px solid rgb(63, 62, 62);
    padding: 16px;
}

header ul {
    width: 300px;
    padding: 16px;
}

header ul li {
    margin-bottom: 10px;
}

.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .image {
    width: 150px;
    height: 150px;
}

/* Nav */
nav {
    margin: 10px 0 10px 0;
    padding: 16px;
    border-bottom: 1px solid rgb(63, 62, 62);
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 16px;
}

/* Pseudo Clases posición */

/* Primer li del ul */
nav ul li:first-child {
    border-bottom: 1px solid #363636;
}

/* Ultimo li del ul */
nav ul li:last-child {
    margin-right: 0px;
}


/* Pseudo Clases por estado */

/* link sin visitar */
nav ul li a:link {
    color: blue;
}

/* link visitado */
nav ul li a:visited {
    color: green;
}

/* mouse over link */
nav ul li a:hover {
    color: hotpink;
}

/* link seleccionado */
nav ul li a:active {
    color: red;
}


/* Section */
section {
    padding: 16px;
    border-bottom: 1px solid #363636;
}

section p {
    margin: 16px 0;
    line-height: 1.5;
}

section ul li, ol li {
    margin: 16px 0;
}


/* Footer */

footer {
    padding: 16px;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin-top: 16px;
}

footer ul li a {
    color:#3605be
}

/* Pseudo Elemento Before */

footer ul li a::before {
    content: "";
    display: inline-block;
    background: url("https://3.bp.blogspot.com/-LHdLdAlA1E0/UyayLmE1XfI/AAAAAAAAETA/Jr90-IZUUvM/s1600/icon.png") no-repeat;
    width: 20px;
    height: 20px;
}

/* Pseudo Elemento After */

footer ul li a::after{
    content: 'Chao';
    width: 10px;
    height: 10px;
    background: rgb(187, 233, 114);
    padding: 10px;
}

.parImpar {
    padding: 16px;
}

.parImpar ul li {
    margin-bottom: 10px;
}

.parImpar ul li:last-child {
    margin-bottom: 0px;
}

/* Impares */
.parImpar ul li:nth-child(odd){
    background: red;
}

/* Pares */
.parImpar ul li:nth-child(even){
    background: #fabff3;
}

/* Elemento Unico */
.parImpar ul li:nth-child(3){
    color: #ffff02;
}